**Hypothesis**

Make a guess (not wild guess) based on assumtption without scientific proof or Explaning the situation based on reasonable assumption

Null hypothesis H(0) = Decision always leads to status quo. Current status assumptions doesn't change.
Alternative Hypothesis(Ha) = Decision leads to opposite of H0

**Problem**

A car manufacturing company claims mileage of all cars is  25 kmpl. The population standard deviation is known from the past experienceto be 1.5 kmpl. A car rental company wantsto test teh null hypothesis that the average mileage is atleast 25 kmpl. Car rental representive drove 30 cars(samples) of the same company and recorded each car mileage. The average of sample turn out to be 24.2 kmpl.

Test teh null hypothesis?

**(H0) Null hypothesis>=25**
**(H1) Alternative hypothesis <25**

In [1]:
import numpy as np
mean = 25
sample_mean = 24.2
std = 1.5
n=30

In [2]:
z= (sample_mean- mean)/ (std/np.sqrt(30))
z

-2.921186973360889

above z score need to be check in Z-table and get p value

p value is 0.0018

if sample size n is >=30 then data distributed normally

In [4]:
import scipy.stats as st
import numpy as np
p_value = st.norm.cdf(sample_mean, loc = mean, scale = std/np.sqrt(30))
p_value

0.0017435024460706768

p_value or probability value determines if the  result is statiscally significant or not. If it is significant then it means o outcome is not by chance or random luck

**Important points**

Standard alpha level = 0.05
if p value is <0.05 then we reject null hypothesis (H0)
if p value is >0.05 the we fail to reject null hypothesis (H0)
Conclusion: As the p value is less than 0.05, we reject the null hypothesis (mileage>=25kmpl) which means all cars do not give 25 mileage so rental company will not buy cars.

Type 1 Error if H0 is true and you reject H0

In our example, If average car mileage is really 25 or >25 kmpl and rental agency rejects. it is type 1 error.

Type 2 error if h0 is false  and you failed to reject h0

If Average car mileage is really <25 kmpl but rental agency buying cars(failed to reject h0). It is type 2 error.

**Statistical tools**

t test or student test

ANOVA

Chi Sqaure

In [6]:
import pandas as pd
hyp = pd.read_csv('Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

A teacher wants to teach students for a competitive exams. She collected sample of students marks from different schools and based on her past experience she believes that , these type of students will score more than 60 in the exams. Now she wants to conduct hypothesis on the marks.

In [7]:
# H0 = mu >= 60
# Ha = mu < 60

In [8]:
hyp['Math1'].mean()

52.645

In [10]:
alpha = 0.05
xbar = 52.645
mu = 60

**1 Sample t test**

In [11]:
import scipy.stats as st

In [12]:
#Since we are conduction sample test for one sample we will go for 1 sample test
st.ttest_1samp(hyp.Math1, mu)

TtestResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22, df=199)

In [13]:
# When you run ttest, we get 2 values 1. t statistic score and two p value for two tail.
# p value/2

**2 Sample t test**

**independent sample**

**paired sample**

In [14]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [15]:
hyp['Gender'].value_counts()

Gender
1    109
0     91
Name: count, dtype: int64

In [16]:
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

**Independent sample**

In [17]:
t,p = st.ttest_ind(hyp[hyp['Gender']==1].Math1, hyp[hyp['Gender']==0].Math1)
p

0.6800544974232143

p value 0.68 not less than alpha 0.05 which means we fail to reject null hypothesis

**Paired Sample**

In [18]:
t,p = st.ttest_rel(hyp.Math1, hyp.Math2)
p

0.1767652560550735

In [ ]:
 # P value greater than alpha 0.05 we fail to reject null hypothesis